.mainDiv {
  border-radius: 15px;
  box-shadow: 0px 0px 2px 2px lightgray;
  max-width: 600px;
  padding: 10px;
  margin: 100px auto;
}
.birthDateSelector {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.birthDateSelector .lblname {
  font-size: 23px;
  font-weight: bold;
  margin-right: 5px;
}
.mainDiv2 {
  width: 100%;
}
.calculate-button {
  margin-top: 10px;
  padding: 7px;
  width: 100%;
  background-color: gray;
  color: whitesmoke;
  border: 0px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}
.calculate-button:hover {
  color: rgb(43, 43, 43);
  background-color: lightgray;
  transition: 0.3s;
}
.resultdiv {
  border-bottom: 1px solid black;
  padding: 10px 0px;
  margin: 15px 0px;
  display: flex;
  justify-content: space-around;
}
.resultdiv2 {
  padding: 10px 0px;
  margin: 15px 0px;
  display: flex;
  justify-content: space-around;
}
.result1 > h2,
.result1 > h3 {
  text-align: center;
}
p {
  margin: 0px;
  font-weight: bolder;
  font-size: 70px;
}
.years {
  display: flex;
  align-items: end;
}

.monthday {
  display: flex;
  align-items: center;
}
.monthday h3 {
  margin: 5px 0px;
  padding: 3px;
}
.monthday :first-child {
  border-right: 2px solid black;
}
.betweenline {
  width: 1px;
  background-color: black;
}
.day {
  margin: 0px;
  font-weight: bolder;
  font-size: 60px;
}
